.container {
  margin: auto;
  flex-direction: column;
  max-width: 550px;
}
.movie-groups {
  padding: 0 16px;
}

.movie-group {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-gap: 5px;
  margin-bottom: 18px;
}

.movie-group__container {
  margin: 11px;
  li {
    list-style: none;
  }
}

.movie-group__date {
  position: sticky;
  top: 1rem;
  align-self: start;
  margin-top: 8px;
}

.movie-group__date-month--loading {
  background-color: rgb(237, 237, 237);
  width: 34px;
  height: 14px;
  margin-bottom: 5px;
}
.movie-group__date-day--loading {
  background-color: rgb(237, 237, 237);
  width: 20px;
  height: 14px;
}
