.container {
  display: flex;
  justify-content: center;
  margin: 2rem 10px;
}

.movie-groups {
  max-width: 400px;
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-gap: 5px;
}
.movie-group__container {
  margin: 11px;
  li {
    list-style: none;
  }
}

.movie-group__date {
  position: sticky;
  top: 1rem;
  align-self: start;
}
