.container {
  margin: auto;
  flex-direction: column;
  max-width: 400px;
  padding: 0 18px;
}

.movie-group {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-gap: 5px;
  margin-bottom: 18px;
}
.movie-group__container {
  margin: 11px;
  li {
    list-style: none;
  }
}

.movie-group__date {
  position: sticky;
  top: 1rem;
  align-self: start;
  margin-top: 8px;
}
