.icon-button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
  border-width: 2.8px;
  border-style: solid;
  &:hover:disabled,
  &:disabled {
    color: white;
    border-color: #b2b2b2;
    background-color: #b2b2b2;
    filter: blur(3px);
  }
}
.icon-button--red {
  color: #b2b2b2;
  background-color: white;
  border-color: #b2b2b2;

  &.active {
    background-color: #c23f3f;
    color: white;
    border-color: #c23f3f;
  }

  &:hover {
    color: #c23f3f;
    border-color: #c23f3f;
  }
  &.active:hover {
    color: white;
    background-color: #b1a3a3;
    border-color: #b1a3a3;
  }
}

.icon-button--green {
  color: #b2b2b2;
  background-color: white;
  border-color: #b2b2b2;
  &.active {
    background-color: #73a27c;
    color: white;
    border-color: #73a27c;
  }

  &:hover {
    color: #73a27c;
    border-color: #73a27c;
  }
  &.active:hover {
    color: white;
    background-color: #a3b1a5;
    border-color: #a3b1a5;
  }
}

.icon-button--blue {
  color: #b2b2b2;
  background-color: white;
  border-color: #b2b2b2;
  &.active {
    background-color: #adc1d2;
    color: white;
    border-color: #adc1d2;
  }

  &:hover {
    color: #939da5;
    border-color: #939da5;
  }
  &.active:hover {
    color: white;
    background-color: #939da5;
    border-color: #939da5;
  }
}
