.movie-item__image--loading {
  height: 150px;
  background-color: rgb(237, 237, 237);
}

.movie-item__text-content--loading {
  margin: 16px 0 22px 0;
}
.movie-item__overview--loading {
  width: 100%;
  height: 6rem;
  background-color: rgb(237, 237, 237);
  margin-top: 7px;
}

.movie-item__title--loading {
  width: 60%;
  height: 1.5rem;
  background-color: rgb(237, 237, 237);
}
