.movie-item__image {
  min-width: 100px;

  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movie-item__text-content {
  margin: 5px 0;
}
.movie-item__overview {
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.vertical-line {
  position: absolute;
  width: 2px;
  background-color: #c23f3f;
}

.movie-item__title {
  font-size: 1.5rem;
  font-kerning: 10px;
  letter-spacing: -0.5px;
}

.movie-item__social-data {
  height: 54px;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.movie-item__filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.movie-item__friends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: auto;
  position: relative;
  align-items: center;
  gap: 5px;
}
.movie-item__friend-image {
  display: block;
  width: 40px;
  height: 40px;
}
