.movie-item__image {
  min-width: 100px;

  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movie-item__text-content {
  margin: 5px 0;
}
.movie-item__overview {
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.vertical-line {
  position: absolute;
  width: 2px;
  background-color: #c23f3f;
}

.movie-item__title {
  font-size: 1.5rem;
  font-kerning: 10px;
  letter-spacing: -0.5px;
}

.movie-item__social-data {
  height: 54px;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.movie-item__filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.movie-item__filter-button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  border-width: 2.8px;
  border-style: solid;
  &:hover:disabled,
  &:disabled {
    color: white;
    border-color: #b2b2b2;

    background-color: #b2b2b2;
    filter: blur(1px);
  }
}
.movie-item__filter-button--minus {
  color: #b2b2b2;
  background-color: white;
  border-color: #b2b2b2;

  &.active {
    background-color: #c23f3f;
    color: white;
    border-color: #c23f3f;
  }

  &:hover {
    color: #c23f3f;
    border-color: #c23f3f;
  }
  &.active:hover {
    color: white;
    background-color: #b1a3a3;
    border-color: #b1a3a3;
  }
}
.movie-item__filter-button--plus {
  color: #b2b2b2;
  background-color: white;
  border-color: #b2b2b2;
  &.active {
    background-color: #73a27c;
    color: white;
    border-color: #73a27c;
  }

  &:hover {
    color: #73a27c;
    border-color: #73a27c;
  }
  &.active:hover {
    color: white;
    background-color: #a3b1a5;
    border-color: #a3b1a5;
  }
}

.movie-item__friends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  gap: 5px;
}
.movie-item__friend-image {
  display: block;
  width: 40px;
  height: 40px;
}
