.section {
  max-width: 1000px;
  margin: 2rem auto;

  grid-gap: 1rem;
}

.section__headline {
  position: sticky;
  top: 1rem;
  align-self: start;
}

.team-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.item {
  aspect-ratio: 1 / 1;
  background-color: lightblue;
  border-radius: 4px;
}
